.contact-section {
    padding: 40px;
    background-color:lightgrey;
    border-radius: 12px;

}
.contact-section h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;
    color: rgb(22, 121, 124);
}

.contact-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 100px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}

.contact-form{
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form label{
    font-size: 18px;
    font-weight: 500;
}

.contact-form input, .contact-form textarea{
    padding: 10px;
    font-size: 18px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    border: none;
}

.contact-form button{
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    background-color: rgb(59, 126, 228);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


@media (min-width: 300px) and (max-width: 500px) {
    .contact-section {
        padding: 16px;
    }

    .contact-section h1 {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .contact-container {
        padding: 16px;
    }

    .contact-form label {
        font-size: 14px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
        padding: 8px;
    }

    .contact-form button {
        font-size: 15px;
        padding: 10px;
    }
}